* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}
body {
    height: 100vh;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}
.logo {
max-width: 50px;
max-height: 50px;
padding-left: 16px;
}
.title {
    color: #F9FAF8;   
    font-size: 24px;
}
.top-left {
    display: flex;
    align-items: center;
    gap: 16px;
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    align-items: center;
    padding-right: 10px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero Section */

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 60px;
    gap: 15px;
}

.left-side { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-image {
    width: 300px;
    height: 200px;
    display: flex;
    flex-grow: 1;
}

.large-text {
font-weight: bold;
font-size: 48px;
color: #F9FAF8;
margin-bottom: 2px;
}

.small-text {
font-size: 18px;
color: #E5E7EB;
margin-bottom: 10px;
}

.button {
    background-color: #3882f6;
    padding: 2px 15px;
    border-radius: 5px;
    border: none;
    max-width: fit-content;
}

/* Info Section */
